td {
    padding: 5px;
}

th {
    text-align: center;
    padding: 10px;
    background-color: darkslategrey;
}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font-size: large;
    border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
}

tr {
    border-bottom: 1px solid dimgray;
}
tr:nth-child(even) {
    background-color: rgba(#696979,.15);
}

.table-wrapper {
    overflow-x: auto;
    table{
        width: 700px;
    }
}