td {
    padding: 5px;
}

th {
    text-align: center;
    padding: 10px;
    background-color: darkslategrey;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    font-size: large;
    border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
}

tr {
    border-bottom: 1px solid dimgray;
}