@import url("https://fonts.googleapis.com/css?family=Nunito:300,800");

h1, h2, h3, h4, h5, h6{
    margin-bottom: 10px;
    text-decoration: none;
    color: $headings;
    a{
        text-decoration: none;
        color: $headings;
    }
}

p, ul, ol{
    li{
      font-size: 1.15rem;
    }
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 0px;
}

h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1.1rem;
}

p{
    font-size: 1.15rem;
}

//System stack for everything
body {
    font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }